*{
    margin:0;
    padding:0;
}

.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    background-color: #ced1f5;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.subContainer{
    width: 97%;
    height: 95%;
    background-color: white;
}